
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}
/*Estilização header*/
header{
    background-color: #000021;
    color: white;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header #titleSite{
    color:  white;
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: bold;
}
header .headerItens{
    display: flex;
    color: white;
    gap: 18px;
    font-family: 'Poppins';
}
header a{
    color: white;
    text-decoration: none;
   
}
.headerItens a:hover{
    opacity: 50%;
}
header .headerItens a:nth-child(1){
    border-top: solid white 1px;
}
.dif{
    font-size: 12px;
    align-self: center;
}
/* ----------------------- */
/* Hero area estilização */
.heroArea{
    background-color: #000021;
    display: flex;
    flex-direction: column;
    height: 483px;
}
.heroText{
    color: white;
    margin: 70px 0px 0px 80px;
    width: 612px;
}
.heroButton{
    background-image: linear-gradient(#FFA500, #FFD700);
    padding: 5px 10px;
    border: transparent;
    border-radius: 10px;
    height: 32px;
    width: 143px;
    margin-left: 80px;
}
.heroButton:hover{
    opacity: 50%;
}
.heroImg{
    width: 420px;
    height: 420px;
    position: absolute;
    top: 120px;
    right: 0%;
    object-fit: cover;
}
/* ------------------------ */
/* Services Area */
.servicesTitle{
    font-size: 1.6em;
    margin-top: 30px;
    justify-self: start;
    width:fit-content;
}
.servicesArea{
    display: flex;
    height: 30vh;
    gap: 50px;
    margin-top: 130px;
    margin: 0 72px 0px 72px;
    justify-content: space-between;
    flex-direction: column;
    height: 50%;
}
.service{
    width: 30%;
    background-color: #ebf1ff;
    border-radius: 15px;
    max-width: 400px;
    max-height: 350px;
    min-width: 320px;
    min-height: 250px;
}
.servP,.servText{
    min-width: 300px;
}
.servicesImgs{
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
}
.service img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.servText{
    margin-top: 28px;
    font-size: 1.2em;
    margin-left: 35px;
}
.servP{
    font-size: 1em;
    margin: 0 35px 0 35px;
}
.setas{
    width: 25px;
    height: 25px;
    align-self: center;
    box-shadow: 0px 0px 4px 0px #e2e2e2;
    border-radius: 50%;
    transition: transform ease-in-out 0.5s;
}
.setas:hover{
    opacity: 50%;
    transform: scale(1.3);
}

/* ----------------------- */
/* Estilização depoimentos */
.depoimentsTitle{
    justify-self: start;
    align-self: flex-start;
    font-size: 1.6em;
    width: fit-content;
}
.depoimentsArea{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin: 72px 72px 0px 72px;
    height: 50%;
}
.depoimentsImg{
display: flex;
justify-content: space-around;
width: 70%;
}
.depoimentImg{
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
/* ----------------------- */
/* Estilização footer */

footer{
    background-color: #000021;
    margin-top: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.footerTitle{
    color: white;
    font-size: 1em;
    font-weight: 500;
    margin-left: 85px;
    width: fit-content;
}
footer .follow{
    color: white;
    border-left: solid white 1px;
    margin-left: 85px;
    display: grid;
    grid-template-columns: 40px 1fr;
    row-gap: 10px;
}
.follow .redes{
    width: fit-content;
}
.follow .redes:hover{
    text-decoration: underline;
}
footer .follow img{
    width: 23px;
    height: 23px;
    margin-left: 10px;
}
footer .copyright{
    color: white;
    align-self: center;
}
/* ----------------------- */
/* Responsividade */
@media screen and (max-width: 1200px) {
    .heroImg{
        display: none;
    }
    .servicesArea{
        justify-items: center;
    }
    .servicesTitle{
        justify-self: center;
    }
    .setas{
        display: none;
    }
     .servicesImgs{
        flex-direction: column;
         /* justify-content: center;
        justify-items: center;
        align-items: center; */
        row-gap: 10px; 
    } 
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }
    .headerItens{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .heroImg{
        display: none;
    }
}
/* ----------------------- */